{
	"presets": [
		["env", {
			"targets": {
				"browsers": ["Explorer 11", "last 2 versions"]
			},
			"useBuiltIns": true
		}], "stage-0", "stage-1", "stage-2", "stage-3"],
	"plugins": [
		"transform-decorators-legacy",
		"transform-class-properties"
	]
}